.flex-start{
    display: flex;
    justify-content: flex-start;
}
.flex-start-center{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.color-red{
    color:red;
}
.font-18{
    font-size: 18px !important;
}
.margin-left-2{
    margin-left: 2px;
}
.margin-bottom-20{
    margin-bottom: 20px;
}
.mobile-none{
    @include mobile{
        display: none;
    }
}
.main-header{
    min-height: 133px;
    @include mobile{
        min-height: 120px;
        max-height: 120px;
    }
}
header nav:before{
    border: none !important;
}
.module-header .module-title.style-1:before,.module-header .module-title.style-1:after{
    border: none !important;
}
header nav{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.55);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.55);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.55);

}
footer .mid-footer{
    border-top: none !important;
}
.main-container .col-main .cart .cart-tbody .item-cart .product-image img{
    max-height: 80px;
}
.img-product-mobile{
    height: 80px;
    object-fit: cover;
}